:root{
	/** Couleurs */
	--itcentrex-blue-color : #00529E;
	--itcentrex-grey-color : #BCBDBF;
	--color-green: #029134;
	--color-orange: #ee720d;
	--color-or: #dcb107;
    --color-or-medium:rgba(220,177,7,0.5); 
	--primary-color : #dcb107;
	--primary-color-text : #dcb107;
	--color-input-border: red;
	--filtre-orange: rgba(216,114,0,0.7);
	--filtre-green: rgba(2,145,52,0.7);
	--filtre-black: rgba(0,0,0,0.5);
}

/* Layout */


/* Coleurs */
.c-itcentrexblue{
	color: var(--itcentrex-blue-color) !important;
}
.c-green{
	color: var(--color-green) !important;
}
.c-or{
	color: var(--color-or) !important;
}
.c-orange{
	color: var(--color-orange) !important;
}

/*  */
.bg-itcentrexblue{
	color: var(--itcentrex-blue-color) !important;
}
.bg-green{
	background-color: var(--color-green) !important;
}
.bg-or{
	background-color: var(--color-or) !important;
}
.bg-orange{
	background-color: var(--color-orange) !important;
}

/*Margins et paddings*/
.px-5{
	padding-right: 5px;
	padding-left: 5px;
}
.py-2{
	padding-top: 2px;
	padding-bottom: 2px;
}
.w-100{
	width: 100% !important;
}


/* Filtre */
.ui-filtre{
	position: absolute;
	width: 100%;
	height:100%;
}

.ui-filtre--orange{
	background: var(--filtre-orange);
}

.ui-filtre--green{
	background: var(--filtre-green);
}

.ui-filtre--black{
	background: var(--filtre-black);
}


/* Les titres */
.ui-subtitle {
	margin-bottom: 25px;
}
.text-active{
	color: var(--color-or) !important;
}
.title-h3{
	display: inline-block;
	font-size: 30px !important;
}


/* Formulaire */
.ui-form-label {
	display: inline-block;
	margin-bottom: 5px;
}

.ui-form-required {
	color: var(--color-orange);
	font-weight: bold;
}

.ui-form-icon {
	margin-bottom: 15px;
}

.ui-outputlabel-rfi {
	color: var(--color-orange);
	font-weight: bold;	
}

.overview-icon{
	display: flex; height: 36px;
	 width: 36px; margin-right: 10px;
	  background-color: #f8fafc; color: #25A4D4;
	   align-items: center; justify-content: center;
	    border-radius: 2px;
}

.ui-form-icon i, .ui-form-icon span {
	display: inline-block;
	vertical-align: middle;
}

.ui-form-icon i {
	color: green;
	position: relative;
	top: 2px;
}

.button-group .ui-button {
	margin-right: 5px !important;
	margin-bottom: 10px !important;
	width: auto !important;
}

.button-single .ui-button{
	width: 100%;
}

.ui-button {
	background: var(--itcentrex-blue-color) !important;
}



/* Menu */
.menu-wrapper{
	background: #023a16 !important;
}
.layout-profile{
	background: #01240d;
}
.layout-root-menuitem{
	padding: 0px !important;
	margin-bottom: 30px
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li{
	padding-left: 15px !important;
	margin-bottom: 0px !important;
}

.layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > ul li.active-menuitem > a{
	color: #dcb107;
	font-weight: bold;

}
.layout-topbar-colored .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-rightpanel-button{
	color: var(--color-or) !important;
}
.layout-topbar-colored .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button-wrapper .menu-button span{
	background: rgba(0,0,0,0.2) !important;
}

/* Titres dans le menu de droite*/

.layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > div .layout-menuitem-text{
	color: white;
	font-weight: bold;
	display: inline-block;
	font-size: 17px;
	margin-bottom: 10px;
	
}

.layout-topbar{
	background-color: white !important;
}
.layout-topbar-left{
	/*background: white;*/
	text-align: center
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight{
	background: var(--color-or);
}

body .ui-selectonemenu.ui-state-hover .ui-selectonemenu.ui-state-highlight{
	border-color: var(--color-green) !important;
}

body  .ui-selectonemenu.ui-state-focus{
	border-color: var(--color-green) !important;
	box-shadow: 0 0 0 0.2rem var(--filtre-green);
	outline: 0 none;
}

body.ui-input-filled .ui-radiobutton .ui-radiobutton-box.ui-state-active, body .ui-input-filled .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  background: var(--color-or);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active{
	border-color: var(--color-or);
	background:var(--color-or);
	color: #f8fafc;
}

