
.login-image{
	background: url("#{resource['/resources/app/images/ban/power-project-banner.jpg']}") center;
	background-size: cover;
	height: 350px;
}

.login-card {
	width:400px;
	border-top-color: var(--itcentrex-grey-color) !important;
	box-shadow: 0 24px 64px -2px rgba(0, 0, 0, 0.02), 0 6px 16px -2px rgba(0, 0, 0, 0.06), 0 2px 6px -2px rgba(0, 0, 0, 0.08);
	
}

.login-card .login-title{
	
	font-weight: 100;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	
}

.login-card .consigne{
	display: inline-block;
	margin-bottom: 15px;
}
.submit-button{
	color: var(--itcentrex-blue-color) !important;
}

@media (min-width:900px) {
	.login-card{
		position: relative;
		top: 50px;
	}
}